# NODE_ENV
NODE_ENV=development

# Application
HOST=0.0.0.0
PORT=5000
NAME=
VERSION=1.0.0
PAGE_SIZE=15
OTP_LENGTH=6

# [Database] 
DATABASE_URL=postgres://postgres:postgrespw@localhost:55000/postgres
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_HOST=
DB_RESET=false

# SMTP
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=

# JWT
JWT_PRIVATE_KEY=/Users/impulsiveweb/webroot/iweb/nest-js-api-template/keys/jwt-private.pem
JWT_PUBLIC_KEY=/Users/impulsiveweb/webroot/iweb/nest-js-api-template/jwt-public.pem
JWT_EXPIRY=1h
JWT_REFRESH_EXPIRY=3h
JWT_ISSUER=impulsive-web Management System
WT_ALGORITHM=RS256

# Log
LOG_FILE_NAME_FORMAT=YYYY-MM-DD
LOG_PATH=/Users/impulsiveweb/iweb/bizisell-api/logs
LOG_LEVEL=DEBUG
# [Storage] Disk
FILES_PATH=
FILES_SERVE_ROOT=/file
FILES_BASE_URL=http://localhost:3000


# [Storage] S3 Bucket
S3_REGION=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET=
S3_URL=
S3_DIRECTORY=yours/

# [Storage] location - DISK || S3 || BOTH
# [Storage] location - DISK || S3 || BOTH
STORAGE=DISK
IMAGE_WIDTH_LARGE=2
IMAGE_WIDTH_LARGE=2000
IMAGE_WIDTH_MEDIUM=1000
IMAGE_WIDTH_SMALL=500

# [Video Thumbnail] Need to install "apt install ffmpeg"
VIDEO_THUMBNAIL=true
VIDEO_TEMP_PATH=
